<a href="https://colab.research.google.com/github/eisakhan04/Pandas_Course_in_Python/blob/main/Topic_03_Part_2_DataFrame_function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Pivot_Table Function ,** **Pandas.melt() Function ,** **loc and iloc() ,** **Pandas.fillna(), **

**Pivot_Table Function**

In [ ]:
import pandas as pd
a=pd.read_csv('Data.csv.csv')
a

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [ ]:
b = a.pivot_table(index = 'Country')
b

<ipython-input-14-364af1eac620>:1: FutureWarning: pivot_table dropped a column because it failed to aggregate. This behavior is deprecated and will raise in a future version of pandas. Select only the columns that can be aggregated.
  b = a.pivot_table(index = 'Country')

          Age        Salary
Country
France   41.0  69000.000000
Germany  40.0  68500.000000
Spain    32.5  53666.666667

In [ ]:
b = a.pivot_table(index = 'Country',columns = 'Age')
b

<ipython-input-15-6cb068c9a0a8>:1: FutureWarning: pivot_table dropped a column because it failed to aggregate. This behavior is deprecated and will raise in a future version of pandas. Select only the columns that can be aggregated.
  b = a.pivot_table(index = 'Country',columns = 'Age')

          Salary                                                        \
Age         27.0     30.0     35.0     37.0     38.0     44.0     48.0
Country
France       NaN      NaN  58000.0  67000.0      NaN  72000.0  79000.0
Germany      NaN  54000.0      NaN      NaN      NaN      NaN      NaN
Spain    48000.0      NaN      NaN      NaN  61000.0      NaN      NaN


Age         50.0
Country
France       NaN
Germany  83000.0
Spain        NaN

In [ ]:
b = a.pivot_table(index = 'Country',columns = 'Age',aggfunc= 'count')
b

        Purchased                                         Salary            \
Age          27.0 30.0 35.0 37.0 38.0 40.0 44.0 48.0 50.0   27.0 30.0 35.0
Country
France        NaN  NaN  1.0  1.0  NaN  NaN  1.0  1.0  NaN    NaN  NaN  1.0
Germany       NaN  1.0  NaN  NaN  NaN  1.0  NaN  NaN  1.0    NaN  1.0  NaN
Spain         1.0  NaN  NaN  NaN  1.0  NaN  NaN  NaN  NaN    1.0  NaN  NaN


Age     37.0 38.0 40.0 44.0 48.0 50.0
Country
France   1.0  NaN  NaN  1.0  1.0  NaN
Germany  NaN  NaN  0.0  NaN  NaN  1.0
Spain    NaN  1.0  NaN  NaN  NaN  NaN

In [ ]:
b = a.pivot_table(index = 'Country',columns = 'Age',aggfunc= 'sum')
b

<ipython-input-7-1b9b4b4c3c18>:1: FutureWarning: pivot_table dropped a column because it failed to aggregate. This behavior is deprecated and will raise in a future version of pandas. Select only the columns that can be aggregated.
  b = a.pivot_table(index = 'Country',columns = 'Age',aggfunc= 'sum')

          Salary                                                             \
Age         27.0     30.0     35.0     37.0     38.0 40.0     44.0     48.0
Country
France       NaN      NaN  58000.0  67000.0      NaN  NaN  72000.0  79000.0
Germany      NaN  54000.0      NaN      NaN      NaN  0.0      NaN      NaN
Spain    48000.0      NaN      NaN      NaN  61000.0  NaN      NaN      NaN


Age         50.0
Country
France       NaN
Germany  83000.0
Spain        NaN

In [ ]:
b = a.pivot_table(index = 'Country',columns = 'Age',fill_value=0)
b

<ipython-input-11-a41b1b498cc2>:1: FutureWarning: pivot_table dropped a column because it failed to aggregate. This behavior is deprecated and will raise in a future version of pandas. Select only the columns that can be aggregated.
  b = a.pivot_table(index = 'Country',columns = 'Age',fill_value=0)

        Salary
Age       27.0   30.0   35.0   37.0   38.0   44.0   48.0   50.0
Country
France       0      0  58000  67000      0  72000  79000      0
Germany      0  54000      0      0      0      0      0  83000
Spain    48000      0      0      0  61000      0      0      0

In [ ]:
b = a.pivot_table(index = 'Country',columns = 'Age',margins = True )
b

<ipython-input-12-0bc755140d78>:1: FutureWarning: pivot_table dropped a column because it failed to aggregate. This behavior is deprecated and will raise in a future version of pandas. Select only the columns that can be aggregated.
  b = a.pivot_table(index = 'Country',columns = 'Age',margins = True )
<ipython-input-12-0bc755140d78>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  b = a.pivot_table(index = 'Country',columns = 'Age',margins = True )
<ipython-input-12-0bc755140d78>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  b = a.pivot_table(index = 'Country',columns = 'Age',margins = True )

          Salary                                                        \
Age         27.0     30.0     35.0     37.0     38.0     44.0     48.0
Country
France       NaN      NaN  58000.0  67000.0      NaN  72000.0  79000.0
Germany      NaN  54000.0      NaN      NaN      NaN      NaN      NaN
Spain    48000.0      NaN      NaN      NaN  61000.0      NaN      NaN
All      48000.0  54000.0  58000.0  67000.0  61000.0  72000.0  79000.0


Age         50.0      All
Country
France       NaN  69000.0
Germany  83000.0  68500.0
Spain        NaN  54500.0
All      83000.0  65250.0

In [ ]:
b = a.pivot_table(index = 'Country',columns = 'Age')
b

<ipython-input-17-6cb068c9a0a8>:1: FutureWarning: pivot_table dropped a column because it failed to aggregate. This behavior is deprecated and will raise in a future version of pandas. Select only the columns that can be aggregated.
  b = a.pivot_table(index = 'Country',columns = 'Age')

          Salary                                                        \
Age         27.0     30.0     35.0     37.0     38.0     44.0     48.0
Country
France       NaN      NaN  58000.0  67000.0      NaN  72000.0  79000.0
Germany      NaN  54000.0      NaN      NaN      NaN      NaN      NaN
Spain    48000.0      NaN      NaN      NaN  61000.0      NaN      NaN


Age         50.0
Country
France       NaN
Germany  83000.0
Spain        NaN

**Pandas.melt() Function**

In [ ]:
import pandas as pd
a=pd.read_csv('Data.csv.csv')
a

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [ ]:
b = a.melt()
b

     variable    value
0     Country   France
1     Country    Spain
2     Country  Germany
3     Country    Spain
4     Country  Germany
5     Country   France
6     Country    Spain
7     Country   France
8     Country  Germany
9     Country   France
10        Age     44.0
11        Age     27.0
12        Age     30.0
13        Age     38.0
14        Age     40.0
15        Age     35.0
16        Age      NaN
17        Age     48.0
18        Age     50.0
19        Age     37.0
20     Salary  72000.0
21     Salary  48000.0
22     Salary  54000.0
23     Salary  61000.0
24     Salary      NaN
25     Salary  58000.0
26     Salary  52000.0
27     Salary  79000.0
28     Salary  83000.0
29     Salary  67000.0
30  Purchased       No
31  Purchased      Yes
32  Purchased       No
33  Purchased       No
34  Purchased      Yes
35  Purchased      Yes
36  Purchased       No
37  Purchased      Yes
38  Purchased       No
39  Purchased      Yes

In [ ]:
b = a.melt(var_name = 'Country', value_name = 'Salary')
b

<ipython-input-6-5632ad27e7aa>:1: FutureWarning: This dataframe has a column name that matches the 'value_name' column name of the resulting Dataframe. In the future this will raise an error, please set the 'value_name' parameter of DataFrame.melt to a unique name.
  b = a.melt(var_name = 'Country', value_name = 'Salary')

      Country   Salary
0     Country   France
1     Country    Spain
2     Country  Germany
3     Country    Spain
4     Country  Germany
5     Country   France
6     Country    Spain
7     Country   France
8     Country  Germany
9     Country   France
10        Age     44.0
11        Age     27.0
12        Age     30.0
13        Age     38.0
14        Age     40.0
15        Age     35.0
16        Age      NaN
17        Age     48.0
18        Age     50.0
19        Age     37.0
20     Salary  72000.0
21     Salary  48000.0
22     Salary  54000.0
23     Salary  61000.0
24     Salary      NaN
25     Salary  58000.0
26     Salary  52000.0
27     Salary  79000.0
28     Salary  83000.0
29     Salary  67000.0
30  Purchased       No
31  Purchased      Yes
32  Purchased       No
33  Purchased       No
34  Purchased      Yes
35  Purchased      Yes
36  Purchased       No
37  Purchased      Yes
38  Purchased       No
39  Purchased      Yes

**loc and iloc()**

In [ ]:
import pandas as pd
a=pd.read_csv('Data.csv.csv')
a

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [ ]:
b = a.loc[7]
b

Country       France
Age             48.0
Salary       79000.0
Purchased        Yes
Name: 7, dtype: object

In [ ]:
b = a.loc[1:3]
b

   Country   Age   Salary Purchased
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No

In [ ]:
b = a.iloc[1:3]
b

   Country   Age   Salary Purchased
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No

In [ ]:
b = a.iloc[-7:-3]
b

   Country   Age   Salary Purchased
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No

**Pandas.fillna()**

In [ ]:
import pandas as pd
a=pd.read_csv('Data.csv.csv')
a

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [ ]:
b = a.fillna(method='ffill')
b

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0  61000.0       Yes
5   France  35.0  58000.0       Yes
6    Spain  35.0  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [ ]:
b = a.fillna(1)
b

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      1.0       Yes
5   France  35.0  58000.0       Yes
6    Spain   1.0  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [3]:
import pandas as pd
R =pd.read_csv('gender.csv')
R

,Gender,Age,Height (cm),Weight (kg),Occupation,Education Level,Marital Status,Income (USD),Favorite Color,Unnamed: 9
0,male,32,175,70,Software Engineer,Master's Degree,Married,75000,Blue,NaN
1,male,25,182,85,Sales Representative,Bachelor's Degree,Single,45000,Green,NaN
2,female,41,160,62,Doctor,Doctorate Degree,Married,120000,Purple,NaN
3,male,38,178,79,Lawyer,Bachelor's Degree,Single,90000,Red,NaN
4,female,29,165,58,Graphic Designer,Associate's Degree,Single,35000,Yellow,NaN
...,...,...,...,...,...,...,...,...,...,...
126,female,32,170,64,Nurse,Associate's Degree,Single,60000,Orange,NaN
127,male,38,176,79,Project Manager,Bachelor's Degree,Married,90000,Black,NaN
128,female,27,162,55,Graphic Designer,Associate's Degree,Single,55000,Green,NaN
129,male,33,175,77,Sales Representative,Bachelor's Degree,Married,80000,Yellow,NaN
130,female,29,164,57,Software Developer,Bachelor's Degree,Single,65000,Blue,NaN

**df.rename() function** **bold text**

In [10]:
Ren=R.rename(columns= {'Gender':'SEX','Age':'Agge'})
Ren
# R.rename(columns = {'data':'entry','Job':'Bussiness'})

,Gender,Age,Height (cm),Weight (kg),Occupation,Education Level,Marital Status,Income (USD),Favorite Color,Unnamed: 9
0,male,32,175,70,Software Engineer,Master's Degree,Married,75000,Blue,NaN
1,male,25,182,85,Sales Representative,Bachelor's Degree,Single,45000,Green,NaN
2,female,41,160,62,Doctor,Doctorate Degree,Married,120000,Purple,NaN
3,male,38,178,79,Lawyer,Bachelor's Degree,Single,90000,Red,NaN
4,female,29,165,58,Graphic Designer,Associate's Degree,Single,35000,Yellow,NaN
...,...,...,...,...,...,...,...,...,...,...
126,female,32,170,64,Nurse,Associate's Degree,Single,60000,Orange,NaN
127,male,38,176,79,Project Manager,Bachelor's Degree,Married,90000,Black,NaN
128,female,27,162,55,Graphic Designer,Associate's Degree,Single,55000,Green,NaN
129,male,33,175,77,Sales Representative,Bachelor's Degree,Married,80000,Yellow,NaN
130,female,29,164,57,Software Developer,Bachelor's Degree,Single,65000,Blue,NaN

In [11]:
import pandas as pd
R =pd.read_csv('Data.csv (1).csv')
R

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [17]:
Re = R.rename(columns={'Purchased': 'Sale', 'Age': 'sex'})
Re
#Re = R.rename(columns={'Purchased': 'Sale', 'Age': 'sex'})
#Re

   Country   sex   Salary Sale
0   France  44.0  72000.0   No
1    Spain  27.0  48000.0  Yes
2  Germany  30.0  54000.0   No
3    Spain  38.0  61000.0   No
4  Germany  40.0      NaN  Yes
5   France  35.0  58000.0  Yes
6    Spain   NaN  52000.0   No
7   France  48.0  79000.0  Yes
8  Germany  50.0  83000.0   No
9   France  37.0  67000.0  Yes

In [18]:
R.fillna(value = 4)

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      4.0       Yes
5   France  35.0  58000.0       Yes
6    Spain   4.0  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [19]:
R.fillna(R.mean())

<ipython-input-19-52e0350ea0ae>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  R.fillna(R.mean())

   Country        Age        Salary Purchased
0   France  44.000000  72000.000000        No
1    Spain  27.000000  48000.000000       Yes
2  Germany  30.000000  54000.000000        No
3    Spain  38.000000  61000.000000        No
4  Germany  40.000000  63777.777778       Yes
5   France  35.000000  58000.000000       Yes
6    Spain  38.777778  52000.000000        No
7   France  48.000000  79000.000000       Yes
8  Germany  50.000000  83000.000000        No
9   France  37.000000  67000.000000       Yes

In [20]:
R.fillna(R.median())

<ipython-input-20-8441366bf5f4>:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  R.fillna(R.median())

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0  61000.0       Yes
5   France  35.0  58000.0       Yes
6    Spain  38.0  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [22]:
R.dropna()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
5   France  35.0  58000.0       Yes
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [23]:
R.dropna(axis = 1)

   Country Purchased
0   France        No
1    Spain       Yes
2  Germany        No
3    Spain        No
4  Germany       Yes
5   France       Yes
6    Spain        No
7   France       Yes
8  Germany        No
9   France       Yes

In [28]:
R.dropna(axis = 1)

   Country Purchased
0   France        No
1    Spain       Yes
2  Germany        No
3    Spain        No
4  Germany       Yes
5   France       Yes
6    Spain        No
7   France       Yes
8  Germany        No
9   France       Yes

In [34]:
R.query('Age	> 	27.0')

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [36]:
R.query('Age	> 	58000')

Empty DataFrame
Columns: [Country, Age, Salary, Purchased]
Index: []

In [38]:
R.isnull().sum()

Country      0
Age          1
Salary       1
Purchased    0
dtype: int64

In [44]:
import pandas as pd

read=pd.read_csv('Data.csv (1).csv')
read

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [ ]:
#a1= read.drop('Salary' ,inplace=True)
#a1
print(read.columns)
A=read.drop('	Country' , inplace=True)
A

**get_dummies**

**1,0**

In [48]:
dummy_Columns1 = pd.get_dummies(read['Country'])
dummy_Columns1

   France  Germany  Spain
0       1        0      0
1       0        0      1
2       0        1      0
3       0        0      1
4       0        1      0
5       1        0      0
6       0        0      1
7       1        0      0
8       0        1      0
9       1        0      0

In [49]:
dummy_Columns2 = pd.get_dummies(read['Purchased'])
dummy_Columns2

   No  Yes
0   1    0
1   0    1
2   1    0
3   1    0
4   0    1
5   0    1
6   1    0
7   0    1
8   1    0
9   0    1

**Pandas.concat()**

In [50]:
df1 = pd.concat([read,dummy_Columns1,dummy_Columns2],axis = 1)
df1

   Country   Age   Salary Purchased  France  Germany  Spain  No  Yes
0   France  44.0  72000.0        No       1        0      0   1    0
1    Spain  27.0  48000.0       Yes       0        0      1   0    1
2  Germany  30.0  54000.0        No       0        1      0   1    0
3    Spain  38.0  61000.0        No       0        0      1   1    0
4  Germany  40.0      NaN       Yes       0        1      0   0    1
5   France  35.0  58000.0       Yes       1        0      0   0    1
6    Spain   NaN  52000.0        No       0        0      1   1    0
7   France  48.0  79000.0       Yes       1        0      0   0    1
8  Germany  50.0  83000.0        No       0        1      0   1    0
9   France  37.0  67000.0       Yes       1        0      0   0    1

In [ ]:
read.drop('Purchased', axis=1, inplace=True)