<a href="https://colab.research.google.com/github/eisakhan04/Pandas_Course_in_Python/blob/main/Topic_01_%3D_Python_Pandas_Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Topic 01 = Python Pandas Series**

**Create an empty Series**

**Example**

In [ ]:
import pandas as pd
x = pd.Series()
print(x)

**Creating a Series using inputs:**

We can create Series by using various inputs:

1. Array
2. Dict
3. Scalar value

**1. Creating Series from Array:**

**Example 1: Create a Series from a String array:**

In [ ]:
import pandas as pd
import numpy as np
c= np.array([2,3,4,5,6,7,8,9,10])
a = np.array(['P','a','n','d','a','s'])
b = pd.Series(c)
d= pd.Series(a)
print(b,d)

**Example 02: Create a Series from a one-dimensional array**

In [ ]:
import pandas as np
a = np.array([1,2,3,4,5])
b = pd.Series(a)
print(b)

**Example 03: Create a Series from a two-dimensional array:**

In [ ]:
import numpy as np
import pandas as pd
arr = ([[1,2,3,4],[5,6,7,6]])

series = pd.DataFrame( arr.flatten())
print(series)

# **2.  Create a Series from dict:**

**Example 1: Create a Series from a dictionary with default index:**

In [ ]:
import pandas as pd
series = pd.Series({ 5:'apple', 10:'banana' , 15:'orange' })
series=pd.Series({'apple':2,'mango':30,'Orange':48,'banana':23})
print(series)

**Example 2:Create a Series from a dictionary with mixed data types**

In [ ]:
import pandas as pd

data = {'apple': 5, 'banana': 'ten', 'orange': 15.0 }
series = pd.Series(data)
print(series)

**example**

In [ ]:
import pandas as pd

data = { 'ali' :7 , 'zeeshan' : 8 , 'imran' : 9 , 'eisa' : 10}
series = pd.Series(data)
print(series)

**3.  Create a Series using Scalar:**

**Example 01: create a Series using a scalar value:**

In [ ]:
import pandas as pd
series = pd.Series(5)
print(series)

**Example 02:  create a Series with multiple elements using a scalar value**:

In [ ]:
import pandas as pd
# create a Series with 3 elements, all with a scalar value of 10
series = pd.Series(10,index=[1,2,3,4,5,6,7,8,9,0])
print(series)

**Accessing data from series with Position:**

**Example 01: access the element at position 2:**

In [ ]:
import pandas as pd
series = pd.Series([10, 20, 30, 40, 50],index=['ten',2,'three',4,'fifty'])
# series = pd.Series(1,2,3,4,5 ,index='ten',2,'three',4,'fifty')
print(series)
print()
print(series[2])#that is true
# print(series[5])#an error is that index is  string fifty

**Example 02: access multiple elements from a Series by position using slicing:**

In [ ]:
import pandas as pd
series = pd.Series([10, 20, 30, 40, 50],index=[1,2,3,4,5])
print(series)
print("Slicing")
print(series[2:4])

**Series object attributes:**

In [ ]:
import pandas as pd
series = pd.Series([10, 20, 30, 40,50 ])
print(series)

In [ ]:
print(series.index)

In [ ]:
print(series.dtype)

In [ ]:
print(series.size)

In [ ]:
print(series.empty)

In [ ]:
print(series.hasnans)

In [ ]:
print(series.nbytes)

In [ ]:
print(series.ndim)

In [ ]:
print(series.name)

**Creating a Series with custom index labels:**

In [ ]:
import pandas as pd
series = pd.Series([1,2,3,4],index =['a','b','c','d'])
print(series)

**Retrieving Index array and data array of a series object**

In [ ]:
import pandas as pd

series1 = pd.Series([10, 20, 30, 40, 50], index=[1, 2, 3, 4, 5])
df = pd.DataFrame({'Col': series1})
print(df)
print()

**Retrieving Types (dtype) and Size of Type (itemsize)**

In [ ]:
import pandas as pd
a=pd.Series(data=[1,2,3,4])
b=pd.Series(data=[4.9,8.2,5.6],index=['x','y','z'])
print(a.dtype)
print()
print(a.item)
print()
print(b.dtype)
print()
print(b.item)

**Retrieving Shape**

In [ ]:
import pandas as pd
a=pd.Series(data=[1,2,3,4])
b=pd.Series(data=[4.9,8.2,5.6],index=['x','y','z'])
print(a.shape)
print(b.shape)

**1.1:Pandas Series.map()**

In [ ]:
import numpy as np
import pandas as pd
a = pd.Series(['Java', 'C', 'C++','Java' ])
a.map({'Java': 3})

**1.5:Pandas Series.std()**

In [ ]:
import pandas as pd
print(np.std([2,3,4,5,5,6,7]))
print()
print(np.std([6,9,15,2,-17,15,4]))

In [ ]:
import pandas as pd
print(np.std([4,7,2,1,6,3]))
print()
print(np.std([6,9,15,2,-17,15,4]))

**1.3:Pandas Series.to_frame()**

In [ ]:
import pandas as pd
a = pd.Series(['Parker', 'John', 'Smith', 'William'] )
b = pd.Series([102, 107, 109, 114])
frame = { 'X': a, 'Y':b }
result = pd.DataFrame(frame)
result

In [ ]:
import pandas as pd
a = pd.Series(['Pakistan', 'India', 'Bangladesh', 'America'])
b = pd.Series([102, 107, 109, 114])
frame = { 'Country': a, 'Currancy':b }
result = pd.DataFrame(frame)
result

**1.4:Pandas Series.unique()**

In [ ]:
import pandas as pd
pd.unique(pd.Series([2, 1, 3, 3]))
pd.unique(pd.Series([pd.Timestamp('20160101'),pd.Timestamp('20160101')]))

In [ ]:
import pandas as pd

# create a series of colors
colors =pd.Series(['red', 'green', 'blue', 'green', 'yellow', 'red'])

# find the unique values in the series
unique_colors = pd.unique(colors)

print(unique_colors)

**1.5:Pandas Series.value_counts()**

In [ ]:
import pandas as pd

# create a series of fruits
fruits = pd.Series(['apple', 'banana', 'apple', 'orange', 'kiwi', 'kiwi', 'apple'])

# count the occurrence of each fruit in the series
fruit_counts = fruits.value_counts()

print(fruit_counts)

In [ ]:
book = pd.Series(['english','biology','math','english','biology','urdu','math','english','biology','urdu'])
book_counts = book.value_counts()
print(book_counts)