<a href="https://colab.research.google.com/github/eisakhan04/Pandas_Course_in_Python/blob/main/Topic_2_Python_Pandas_Data_Frame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Topic 2: Python Pandas Data Frame**

Pandas DataFrame is a widely used data structure which works with a two-dimensional array with labeled axes (rows and columns). DataFrame is defined as a standard way to store data that has two different indexes, i.e., row index and column index. It consists of the following properties:

The columns can be heterogeneous types like int, bool, and so on.


It can be seen as a dictionary of Series structure where both the rows and columns are indexed. It is denoted as "columns" in case of columns and "index" in case of rows.

**Parameter & Description:**

**data:** It consists of different forms like ndarray, series, map, constants, lists, array.

**index:** The Default np.arrange(n) index is used for the row labels if no index is passed.

**columns:** The default syntax is np.arrange(n) for the column labels. It shows only true if no index is passed.


**dtype:** It refers to the data type of each column.

**copy():** It is used for copying the data.

**Create a DataFrame**

We can create a DataFrame using following ways:

1. empty
2. list
3. dict
4. Numpy ndarrrays
5. Series

**1: Create an empty DataFrame**

In [ ]:
import pandas as pd
df = pd.DataFrame()
print (df)

This code will create an empty DataFrame with no columns and no rows. You can verify that the DataFrame is empty.

**2: Create a DataFrame using List:**

**Method 01  
To create DataFrame**

In [ ]:
import pandas as pd
names=['fahim','Ali','Muzamil']
df=pd.DataFrame(names)
print("DataFrame: \n",df)

In [ ]:
import pandas as pd
a = ['zeeshan','rooshiii','khan','imran']
df = pd.DataFrame(a)
print("DataFrame:\n",df)

**Method 02
  To create the DataFrame**

In [ ]:
names = ["John", "Jane", "Mary"]
ages = [25, 23, 20]

df = pd.DataFrame(zip(names, ages))

print(df)

In [ ]:
# importing the pandas library
import pandas as pd
x = ['Python', 'Pandas']
# Calling DataFrame constructor on list
frame = {'function':['Python', 'Pandas']}
df = pd.DataFrame(frame)
print(df)

In [ ]:
import pandas as pd
a = [11,22,33,44,55]
frame = {'values' : [11,22,33,44,55]}
df = pd.DataFrame(frame)
print(df)

In [ ]:
import pandas as pd
x = ['Python', 'Pandas', 'Numpy']
# Calling DataFrame constructor on list
df = pd.DataFrame(x,columns=['Values'])
print(df)

In [ ]:
import pandas as pd
a = ['java','C++','C sharp','python']
df = pd.DataFrame(a , columns=['Languages'])
print(df)

**3. Create a DataFrame from Dict of ndarrays/ Lists:**

In [ ]:
import pandas as pd
info ={'name  ' :['Fahim','Ali','Abdullah'],   'Department' :['B.Sc','B.Tech','M.Tech']
       ,  'ID' : [101, 102, 103]}
df = pd.DataFrame(info)
print (df)

In [ ]:
import pandas as pd
a = {'name' : ['zeeshan','ali','rooshan','khan'] , 'class' : [8,9,11,12] , 'RollNo' : [1,2,3,4]}
frame = pd.DataFrame(a)
print(frame)

**4. Create a DataFrame using Numpy ndarrrays**

**Example 1: Creating a DataFrame with a single-dimensional ndarray**

In [ ]:
import numpy as np
import pandas as pd

# Create a 1D NumPy ndarray with values
data = np.array([10, 20, 30, 40, 50])

# Create a DataFrame from the ndarray
df = pd.DataFrame(data,columns=['Values'])

print(df)

In [ ]:
import numpy as np
import pandas as pd

# Create a 1D NumPy ndarray with values
data = np.array([10, 20, 30, 40, 50])
frame ={'y':data}
# Create a DataFrame from the ndarray
df = pd.DataFrame(frame)

print(df)

**Example 2: Creating a DataFrame with multiple one-dimensional ndarrays**

In [ ]:
import numpy as np
import pandas as pd
a = np.array([6,7,8])
b = np.array([11,12,13])
df = pd.DataFrame({'Col 1':a, 'Col 2':b})
print(df)

In [ ]:
import numpy as np
import pandas as pd
a = np.array([6,7,8])
b = np.array([11,12,13])
df = pd.DataFrame({'Col 1':a, 'Col 2':b})
print(df)

**Example 3: Creating a DataFrame with a two-dimensional ndarray**

In [ ]:
import numpy as np
import pandas as pd

# Create a 2D NumPy ndarray with values
data = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
# Create a DataFrame from the ndarray
df = pd.DataFrame(data, columns=['Column1', 'Column2', 'Column3'])

print(df)

In [ ]:
import numpy as np
import pandas as pd

data = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
frame ={'y':data.flatten()}
df = pd.DataFrame(frame)
print(df)

**Example 4: Creating a DataFrame with multiple two-dimensional ndarrays**

In [ ]:
import numpy as np
import pandas as pd
a = np.array([[2, 3, 4], [7, 8, 9]])
b = np.array([[4, 7, 9], [11, 12, 13]])
df = pd.DataFrame({'Col 1': a.flatten(), 'Col 2': b.flatten()})
print(df)

**5. Create a DataFrame from Dict of Series:**

**Example 01:  Create one Series with data**

In [ ]:
import pandas as pd
import numpy as np

series1 = np.array([[10, 20, 30, 40, 50],[1,2,3,4,5]])
df = pd.DataFrame({'Columns':series1.flatten()},index=['a','b','c','d','e','f','g','h','i','j'])
print(df)

In [ ]:
import pandas as pd
import numpy as np

data = np.array([[10, 20, 30, 40, 50], [1, 2, 3, 4, 5]])
#index = [1, 2, 3, 4, 5,6,7,8,9,0]
df = pd.DataFrame({'Col': data.flatten()}, index=[1, 2, 3, 4, 5,6,7,8,9,0])
print(df)

In [ ]:
import pandas as pd
series1 = pd.Series([10, 20, 30, 40, 50],index=[1, 2, 3, 4, 5])
df = pd.DataFrame(series1,columns=['Values'])
print(df)

**Example 02:  Create three Series with data**

In [ ]:
import pandas as pd
Series1 = pd.Series(['Waqas','Mudasir','Shazad'], index =['a', 'b', 'c'])
Series2 = pd.Series([27, 30, 40], index =['a', 'b', 'c'])
Series3 = pd.Series([1997,1993,1983], index =['a', 'b', 'c'])
df = pd.DataFrame({'Names':Series1,'Ages':Series2,'Years':Series3})
df

**Example 3: Create  Series with Dictionary**

In [ ]:
# importing the pandas library
import pandas as pd

info = {'one' :pd.Series([1, 2, 3, 4, 5, 6], index=['a', 'b', 'c', 'd', 'e', 'f']),
        'two' :pd.Series([1, 2, 3, 4, 5, 6, 7, 8], index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])}
df = pd.DataFrame(info)
print (df)

In [ ]:
import pandas as pd

info =pd.DataFrame({'one' :pd.Series([1, 2, 3, 4, 5, 6], index=['a', 'b', 'c', 'd', 'e', 'f']),
        'two' :pd.Series([1, 2, 3, 4, 5, 6, 7, 8], index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])})
print (info)

**Column Selection:**

In [ ]:
# importing the pandas library
import pandas as pd
info = {'one' : pd.Series([1, 2, 3, 4, 5, 6], index=['a', 'b', 'c', 'd', 'e', 'f']),
   'two' : pd.Series([1, 2, 3, 4, 5, 6, 7, 8], index=['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])}
df = pd.DataFrame(info)
print(df)
print()
print(df['two'])

**Column Addition:**

In [ ]:

import pandas as pd
info = {'one' : pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e']),'two' : pd.Series([1, 2, 3, 4, 5, 6], index=['a', 'b', 'c', 'd', 'e', 'f'])}
df = pd.DataFrame(info)
print(df)
print()
print ("Add new column by passing series")
df['three']=pd.Series([20,40,60],index=['a','b','c'])
print (df)

In [ ]:
print ("Add new column using existing DataFrame columns")
df['four']=pd.Series([5 ,6, 7,8],index = ['a','b','c','d'] )
print (df)

In [ ]:
#print ("Add new column using existing DataFrame columns")
#df = {'five'=pd.serise(df['three']:[1,2,3,4,5] + df['four']:[6,7,8,9,0])}
#print (df)

In [ ]:
df['five']=df['three'] + df['four']
df

**Column Deletion:**

In [ ]:
import pandas as pd

info = {'one' : pd.Series([1, 2], index= ['a', 'b']),'two' : pd.Series([1, 2, 3], index=['a', 'b', 'c'])}
df = pd.DataFrame(info)
print ("The DataFrame:")
print (df)

# using del function
print ("Delete the first column:")
del df['one']
print (df)
# using pop function
print ("Delete the another column:")
df.pop('two')
print (df)

In [ ]:
import pandas as pd
data={'one': pd.Series([1,9], index=['a','b']),'two': pd.Series([2,8] , index=['c','d']),'three': pd.Series([3,7], index=['e','f'])}
datafram=pd.DataFrame(data)
print("Dataframe of data : \n",datafram)
# delete first column using Del function
print("delete the first row : \n")
del datafram['one']
print(datafram)
# delete another column using pop function.
print("delete Secound column of dataframe")
datafram.pop('two')
print(datafram)

**Remove Clumnn using Drop() function**

In [ ]:
import pandas as pd

df = pd.DataFrame({'a': [1, 2, 3]})
print(df)

df = df.drop('a',axis=1)

print(df)

In [ ]:
import pandas as pd

info = {'one' : pd.Series([1, 2], index= ['a', 'b']), 'two' : pd.Series([1, 2, 3], index=['a', 'b', 'c'])}

df = pd.DataFrame(info)
print ("The DataFrame:")
print (df)

# using del function
print ("Delete the first column:")
del df['one']
print (df)
print()
del df['two']
print (df)

**Row Selection, Addition, and Deletion:**

**Row Selection:**

In [ ]:
# importing the pandas library
import pandas as pd

info = {'one' : pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e']),
   'two' : pd.Series([1, 2, 3, 4, 5, 6], index=['a', 'b', 'c', 'd', 'e', 'f'])}

df = pd.DataFrame(info)
print(df)
print()
print (df.loc['f'])

In [ ]:
import pandas as pd
info = {'one' : pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e']),
   'two' : pd.Series([1, 2, 3, 4, 5, 6], index=['a', 'b', 'c', 'd', 'e', 'f'])}
df = pd.DataFrame(info)
print(df)
print()
print("Selection by integer location ")  # integers count the indexes
print (df.iloc[2])

In [ ]:
import pandas as pd
info = {'one' : pd.Series([1, 2, 3, 4, 5], index=['a', 'b', 'c', 'd', 'e']),
   'two' : pd.Series([1, 2, 3, 4, 5, 6], index=['a', 'b', 'c', 'd', 'e', 'f'])}
df = pd.DataFrame(info)
print(df)
print()
print("Slice Rows")
print (df[2:6])

**Addition of rows:**

In [ ]:
import pandas as pd
d = pd.DataFrame([[7, 8], [9, 10],[12,13]], columns = ['x','y'])
print(d)
d2 = pd.DataFrame([[11, 12], [13, 14]], columns = ['x','y'])
print(d2)
d = d2.append(d)
print (d)

In [ ]:
import pandas as pd

# Creating a DataFrame
data = {'Name': ['John', 'Alice', 'Bob'],'Age': [25, 30, 35],'City': ['New York', 'London', 'Paris']}

df = pd.DataFrame(data)
print(df)
print()
# Deleting the first row
print(df.drop(0))
print()
print(df.drop(1))